@using CarDealership.Models.ViewModel
@model CarViewModel

@{
    ViewBag.Title = "Car Dealership";
}

@section scriptsHead {
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/home.js"></script>
}

@section styles{
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="cardealership-listing-container">
    <div class="container">
        <h1 class="bmblue page-heading">Car Dealership</h1>
    </div>

    <div class="container my-3">
        <div class="row">
            <div class="col-sm-12">
                <label class="heading left">Show results for:</label>
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="cb-filter-input">
                            <input id="includeObsolete" type="checkbox" class="cb-filter-selection include-automatic">
                            <label for="includeObsolete">Automatic</label>
                        </div>
                        <div class="cb-filter-input">
                            <input id="includeExpired" type="checkbox" class="cb-filter-selection include-sunroof">
                            <label for="includeExpired">Sun roof</label>
                        </div>
                        <div class="cb-filter-input">
                            <input id="includeExpired" type="checkbox" class="cb-filter-selection include-heatedseats">
                            <label for="includeExpired">Heated Seats</label>
                        </div>
                        <div class="cb-filter-input">
                            <input id="includeExpired" type="checkbox" class="cb-filter-selection include-navigation">
                            <label for="includeExpired">Navigation</label>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="cb-filter-input">
                            <input id="includeExpired" type="checkbox" class="cb-filter-selection include-fourwheeldrive">
                            <label for="includeExpired">4 Wheel Drive</label>
                        </div>
                        <div class="cb-filter-input">
                            <input id="includeExpired" type="checkbox" class="cb-filter-selection include-lowmiles">
                            <label for="includeExpired">Low Miles</label>
                        </div>
                        <div class="cb-filter-input">
                            <input id="includeExpired" type="checkbox" class="cb-filter-selection include-powerwindows">
                            <label for="includeExpired">Power Windows</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="cb-filter-input">
                            <label>Color:</label>
                            <select class="ddl-filter-selection include-color">
                                <option value="Red">Red</option>
                                <option value="White">White</option>
                                <option value="Gray">Gray</option>
                                <option value="Silver">Silver</option>
                                <option value="Black">Black</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_partialTable", Model)
</div>

