@using CarDealership.Models.ViewModel
@model CarViewModel

<div class="container container-tabs position-relative">
    <div class="tab-content clearfix">
        <div class="tab-pane active" role="tabpanel">
            <table id="car-table" class="table table-bordered table-striped car-table">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Make</th>
                        <th scope="col">Year</th>
                        <th scope="col">Selected Options:</th>
                    </tr>
                </thead>
                @foreach (var carinfo in Model.data)
                {
                    <tr>
                        <td>@carinfo.Make</td>
                        <td>@carinfo.Year</td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(carinfo.Color))
                            {
                                <div>Color: @carinfo.Color</div>
                            }
                            @if (carinfo.HasSunRoof == true)
                            {
                                <div>Sun roof</div>
                            }
                            @if (carinfo.IsFourWheelDrive == true)
                            {
                                <div>4 Wheel Drive</div>
                            }
                            @if (carinfo.HasLowMiles == true)
                            {
                                <div>Low Miles</div>
                            }
                            @if (carinfo.HasPowerWindows == true)
                            {
                                <div>Power Windows</div>
                            }
                            @if (carinfo.HasNavigation == true)
                            {
                                <div>Navigation</div>
                            }
                            @if (carinfo.HasHeatedSeats == true)
                            {
                                <div>Heated Seats</div>
                            }

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>